$fontFamily = "Source Sans Pro", Helvetica, Arial, sans-serif;
$textColor = #525252;
$accentColor = #27989f;
$primaryBackground = #fff;
$secondaryBackground = #fafafa;
$navbarHeight = 7.5rem;
$sidebarWidth = 18.75rem;
$maxContentSize = 800px;

$MQMobile = 600px;
